body {
  background-color: blanchedalmond;
}

.bookshelf {
  width: 100%;
  background-image: bookshelf.png;
  background-color: brown;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}
  
.book {
  height: 280px;
  position: relative;
  margin-left: 1px;
  transform-style: preserve-3d;
  transform: translateZ(0) rotateY(0);
  transition: transform 1s;
}

.side {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  text-align: center;
  transform-origin: center left;
}
  
.spine {
  position: relative;
  width: 50px;
  height: 280px;
  background-image: var(--tartan);
  transform: rotateY(0deg) translateZ(0px);
}
  
.top {
  width: 50px;
  height: 190px;
  top: -2px;
  background-image: linear-gradient(90deg, white 90%, gray 10%);
  background-size: 5px 5px;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}
  
.cover {
  width: 190px;
  height: 280px;
  top: 0px;
  background-image: url("https://picsum.photos/190/280");
  background-size: contain;
  background-repeat: round;
  left: 50px;
  transform: rotateY(90deg) translateZ(0);
  transition: transform 1s;
}
  
.book:hover {
  z-index: 1;
  transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px)
    translateX(-30px);
}
